<div class="container">
    <div class="  ">
        <!-- HTML5 Inputs -->
        <form method="post" enctype="multipart/form-data">
            <div class="card mb-4">
                <h5 class="card-header">Award - </h5>
                <div class="card-body">
                    <div class="mb-3 row">
                        <label for="html5-text-input" class="col-md-2 col-form-label">Text</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" value="Sneat" name="title" id="html5-text-input" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="description" class="col-md-2 col-form-label">Text</label>
                        <div class="col-md-10">
                            <textarea class="form-control" name="description" id="editor1"></textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="html5-url-input" class="col-md-2 col-form-label">empty</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" name="empty" id="html5-url-input" />
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg" type="submit">Button</button>
        </form>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>

    <script>
        CKEDITOR.replace('editor1');
    </script>
}
